<div class="jumbotron text-center">
    <h1>{{title}}</h1>
    <p class="lead">Jot down Ideas for your next Project And complete them.</p>
    <a href="/ideas/add" class="btn btn-lg btn-dark">Add Project Idea</a>
</div>
